# Visual Studio cache and settings
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
Build/
x64/
x86/
Debug/
Release/
*.dll
*.pdb
*.lib
*.exp
*.obj
*.tlog
*.lastbuildstate
*.log
*.recipe
*.iobj
*.ipdb
